#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.profile-card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 250px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.profile-card h2 {
  margin-bottom: 4px;
}

